<title>TinyApp</title>

<% if (!user_id) { %>
<form method="GET" action="/login">
  <button type="submit" >Login</button>
</form>
<form method="GET" action="/register">
  <button type="submit" >Register</button>
</form>
<% } else { %>
<form method="POST" action="/logout">
  <%= user_id %>
  <button type="submit" >Logout</button>
</form>
<% } %>