<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <label>Register:</label>
    <form method="POST" action="/register">
      <label for="email">E-mail:</label>
      <input type="email" name="email" placeholder="example@gmail.com" style="width: 300px">
      <br/>
      <label for="password">password:</label>
      <input type="password" name="password" style="width: 300px">
      <br/>
      <button type="submit" >Register</button>
  </body>
</html>