<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_header.ejs %>
  </head>
  <body>
    <ul>
      <% urls.forEach(function(elem) { %>
        <li><%= elem %></li>
    <% }); %>
    <a href>Shortening a link</a>
    <ul>
  </body>
</html>